*{
	padding: 0;
	margin: 0;
}
.hutra{
	margin-bottom: 0;
	color:gold;
	text-shadow: 0 0 20px yellow;
	margin-top: 5px;
	font-weight:bold;
	-webkit-animation: my 1000ms infinite;
}

.right{
	margin-left: 20%;
}

.nav-item a{
	font-size: 16px;
	font-color: black;
}
.search{
	margin-top: 3%;
}
#navbar{
	height: 14%;
	position: relative;
	background: url(https://img2.thuthuatphanmem.vn/uploads/2019/01/20/nhung-background-den-dep_034513466.jpg);  
	background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  
	background: linear-gradient(to right, #070000, #4C0001, #070000); 
}

#nav{
	width: 100%;
	background: #070000;  
	background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  
	background: linear-gradient(to right, #070000, #4C0001, #070000); 
	margin-left: 50%;
	position: absolute;
	z-index: 10000;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	padding: 1%;
}

.ship{
	background: white;
	border: orange thin solid;
	width: auto;
	/*margin-top: 5.5555%;*/
	height: 38px;
}

.user a{
	font-weight: bold;
	color: black;
}


body{
	min-height: 1000px;
	position: relative;
}

.btn-call-now {
	z-index: 10000;
	display: block;
	height: 50px;
	position: fixed;
	width: 300px;
	bottom: 10px;
	background: #b70100;
	/*background: gray;*/
	/*left: 0;*/
	color: #FFF;
	font-weight: 700;
	font-size: 125%;
	border-radius: 25px;
	padding: 5px;

}
.btn-call-now em {
	position: relative;
	color: #b70100;
	font-size: 30px;
	background: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-right: 5px;
}
.btn-call-now em:before {
	position: absolute;
	top: 5px;
	left: 8px;
}
.fa-phone:before {
	content: "\f095";
}
@keyframes my { 
	0% { color: #F8CD0A;  } 
	50% { color: #fff;  }
	100% { color: #F8CD0A;  } 
}
.lienhe {
	font-weight:bold;
	-webkit-animation: my 700ms infinite;
	-moz-transition: my 700ms infinite;
}
element.style {
	display: block;
	visibility: visible;
}

