*{
	padding: 0;
	margin: 0;
}
.hutra{
	margin-bottom: 0;
	color:gold;
	text-shadow: 0 0 20px yellow;
	margin-top: 0;
	font-weight:bold;
	-webkit-animation: my 700ms infinite;
}

.right{
	margin-left: 20%;
}

.nav-item a{
	font-size: 18px;
	font-color: black;
}
#nav{
	width: 100%;
	z-index: 10000;
	top: 0;
	background: #40E0D0;
	background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
	background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
	
}

body{
	min-height: 1000px;
	position: relative;
}

.btn-call-now {
	z-index: 10000;
	display: block;
	height: 50px;
	position: fixed;
	width: 300px;
	bottom: 10px;
	background: #b70100;
	/*background: gray;*/
	/*left: 0;*/
	color: #FFF;
	font-weight: 700;
	font-size: 125%;
	border-radius: 25px;
	padding: 5px;

}
.btn-call-now em {
	position: relative;
	color: #b70100;
	font-size: 30px;
	background: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-right: 5px;
}
.btn-call-now em:before {
	position: absolute;
	top: 5px;
	left: 8px;
}
.fa-phone:before {
	content: "\f095";
}
@keyframes my { 
	0% { color: #F8CD0A;  } 
	50% { color: #fff;  }
	100% { color: #F8CD0A;  } 
}
.lienhe {
	font-weight:bold;
	-webkit-animation: my 700ms infinite;
	-moz-transition: my 700ms infinite;
}
element.style {
	display: block;
	visibility: visible;
}

