*{
	padding: 0;
	margin: 0;
}

.img:hover{
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	transform: scale(1.12,1.12);
	-webkit-transform: scale(1.12,1.12);
	-moz-transform: scale(1.12,1.12);
	-o-transform: scale(1.12,1.12);
	-ms-transform: scale(1.12,1.12);
}

.img{
	overflow: hidden;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

#images{
	text-align: center;
	position: relative;
}
